{
	margin: 0;
	padding: 0;
}

header, section, footer, aside, nav, article, figure {
	display: inline-block;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%; /* 1em = 16px */
	line-height: 1.5em; /* 16px x 1.5em = 24px */
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: .5em;
}

h1 {
	font-size: 3em; /* 48px / 16px = 3em */
	line-height: 1em; 
}

h2 {
	font-size: 2.25em; /* 36px / 16px = 2.25em */
	line-height: 1.1em;
}

h3 {
	font-size: 1.5em; /* 24px / 16px = 1.5em */
	line-height: 1.2em;
}

h4 {
	font-size: 1.3125em; /* 21px / 16px = 1.3125em */
	line-height: 1.3em;
}

h5 {
	font-size: 1.125em; /* 18px / 16px = 1.125em */
	line-height: 1.4em;
}

h6 {
	font-size: 1em; /* 16px / 16px = 1em */
	line-height: 1.5em;
}

p { 
	margin-bottom: .5em; 
}

a { color: #39c; text-decoration: none; }
a:visited, a:hover, a:focus { color: #069; }

ul, ol {
	margin-bottom: .5em;
}

ul li ul, ul li ol, ol li ul, ol li ol {
	margin: 0; 
}

li {
	margin-left: 1.875em;
}

img.scale-with-grid {
	max-width: 100%;
	height: auto; 
}

a img {
	border: none;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

body {
	background: #ddd;
    
}

.container {
	/* Fixed width: 960px */
    width: 60em; /* 960px / 16px (base) = 60em  */
	background: #fff;
	margin: 2em auto;
}

section {
	margin: 3em 0;
}

.row {
	margin: 1em 0;
}

.column {
	float: left;
	margin: 0 2%;
}

.one-half.column {	width: 46%; }
.one-third.column {	width: 29.3333%; }

header {
	padding: 3em 1em 1em 1em;
}

header .logo {
	display: block;
	margin: 0 auto;
}

#mainnav ul {
	text-align: center;
}
#mainnav ul li {
	display: inline-block;
}
#mainnav ul li a {
	display: inline-block;
	padding: 1em 2em;
}
#mainnav ul li a:hover {
	background: #ccc;
}

footer {
	text-align: center;
	color: #ccc;
	padding: 1em;
}

@media all and (min-width: 48em) and (max-width: 62em) {
	
	body {
		font-size: 93.75%; /* 15px */
	}
	
	.container {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	
}

@media all and (max-width: 47.9999em) {
	
	body {
		font-size: 87.5%; /* 14px */
	}
	
	.container {
		width: 96%;
		margin: 0;
		padding: 0 2%;
	}
	
	
	.column {
		float: none;
		margin: 0;
	}
		
	.one-half.column,
	.one-third.column {	width: 100%; }

}





